* {
  box-sizing: border-box;
}
.css-card {
  border: 2px solid #fff;
  margin: 8px;
  width: 280px;
}

.css-card:hover,
.css-card:focus {
    border-color: rgb(255,64,129);
    cursor: pointer;;
}

.css-card__img {
  background-color: #fff;
  padding: 40px;
  width: 280px;
  height: 280px;
}

.css-card .mdl-card__title,
.css-card .mdl-card__supporting-text {
  padding: 8px;
}

.css-fab {
  bottom: 32px;
  position: fixed;
  right: 32px;
}
