* {
  box-sizing: border-box;
}
.css-card {
  margin: 8px;
  width: 280px;
}
.css-card .mdl-card__media {
  width: 280px;
  height: 280px;
}

.css-card__img {
  background-color: #fff;
  padding: 8px 8px 0;
  width: 280px;
  height: 280px;
}

.css-card .mdl-card__title,
.css-card .mdl-card__supporting-text {
  padding: 8px;
}

.css-fab {
  bottom: 32px;
  position: fixed;
  right: 32px;
}
